################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Stm32UIController.slnx/FileContentIndex
/.vs
/.vs/Stm32UIController.slnx/v18/.suo
/.vs/Stm32UIController.slnx/v18/DocumentLayout.json
/Stm32UI/Stm32UIController.slnx/bin/
